<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>List Notes</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main-content">
        {{>header}}
        {{>nav}}
        <form id="list_form">
        <Button>List Notes</Button>
        </form>
        <p id="l1"></p>
    </div>
    {{>footer}}
    <script src="/js/list.js"></script>
</body>
</html>