<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Remove Note</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="main-content">
        {{>header}}
        {{>nav}}
        <form id="remove_form">
        <input placeholder="Title" id="remove_t">
        <Button>Remove Note</Button>
        </form>
        <p id="remove_message"></p>
    </div>
    {{>footer}}
    <script src="/js/remove.js"></script>
</body>
</html>